<ion-header>
  <ion-toolbar>
    
    <ion-title>
      Home
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-item>
      <ion-label position="floating">Param</ion-label>
    <ion-input ng [(ngModel)]="value"></ion-input>
  </ion-item>
  <br>
  <ion-button  expand="block" fill="outline" [routerLink]="['/contact',value]" routerLinkActive="router-link-active"  >Push RouterLink</ion-button>
  <ion-button  expand="block" fill="outline" color="success"  (click)="pushRouter()" >Push Router</ion-button>
  <ion-button  expand="block" fill="outline" color="danger" (click)="pushNavController()" >Push navController</ion-button>


</ion-content>
